.*
~*

# ignore node/grunt dependency directories
node_modules/
dist

# ignore Editor files
*.sublime-project
*.sublime-workspace
*.komodoproject

# --------------------------------------------------------
# BEGIN Explictly Allowed Files (i.e. do NOT ignore these)
# --------------------------------------------------------

!.gitignore
!.editorconfig
!.phpcs.xml.dist
!.env.example